/*
  --------------------------------------------------------------------------------------
  Base Styles
  --------------------------------------------------------------------------------------
*/

body,
p {
  font-family: "Marhey", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

button {
  font-family: "Marhey", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  pointer-events: none;
  user-select: none;
}

input,
textarea:focus {
  outline: none;
}

#main-container {
  background-color: #1d150d;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#load-page::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 900;
  background-color: rgb(0, 0, 0);
  mask-size: cover;
}

#load-page .loading {
  z-index: 1000;
  opacity: 1;
}
/*
  --------------------------------------------------------------------------------------
  Sidebar (Sheet List)
  --------------------------------------------------------------------------------------
*/

#sidebar-bg {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 10px;
  background-image: url("img/banner.png");
  background-repeat: no-repeat;
  background-size: 300px 95vh;
  height: 95vh;
  min-width: 300px;
  background-position: center center;
}

#sidebar {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  padding-inline: 1rem;
  justify-content: flex-start;
}

#listTitle {
  background-image: url("img/wood.png");
  background-position: center center;
  width: 310px;
  height: 70px;
  margin-top: 5px;
  background-size: 310px 70px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#listTitle h1 {
  font-size: x-large;
  font-weight: bold;
  color: rgb(231, 213, 179);
  margin: 0;
  margin-bottom: 10px;
}

#sheet-list-container {
  padding-top: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  width: -webkit-fill-available;
  margin-inline: 12px;
}

#sheet-list {
  direction: rtl;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-inline: 16px;
  width: -webkit-fill-available;
  height: 80vh;
  gap: 1rem;
}

#sheet-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(89, 129, 101, 0);
}

#sheet-list::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
}

#sheet-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(11, 77, 66);
}

#btn-add-sheet {
  background-image: url("img/other-plus.png");
  background-size: cover;
  width: 40px;
  aspect-ratio: 8/7;
  cursor: pointer;
}

/*  item  */
.item {
  direction: ltr;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  transition: transform 0.5s;
  color: rgb(231, 213, 179);
  width: 100%;
}

.block .loading {
  opacity: 1;
}

.loading .spinner {
  background-color: rgb(231, 213, 179);
  -webkit-mask-image: url("img/spinner.svg");
  mask-image: url("img/spinner.svg");
  background-size: cover;
  width: 28px;
  aspect-ratio: 1;
  animation: spin 4s linear infinite;
}

.item:hover {
  transform: scale(1.05);
}

.trash {
  background-image: url("img/button.png");
  background-size: cover;
  display: flex;
  padding: 4px;
}

.trash svg {
  width: 20px;
  fill: rgb(231, 213, 179);
}

.picture {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #493b33;
  border: solid 4px rgb(231, 213, 179);
  border-radius: 10px;
  box-shadow: 2px 2px 0px rgb(155, 131, 86), inset 2px 2px 0px rgb(155, 131, 86);
  justify-content: center;
}

.picture img {
  height: 80%;
  width: 80%;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.content .level {
  color: rgb(13, 44, 21);
  padding: 2px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 2px;
  display: flex;
  background-color: rgb(231, 213, 179);
}

.item p {
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
  --------------------------------------------------------------------------------------
  Grid
  --------------------------------------------------------------------------------------
*/

#grid-container {
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  height: 96vh;
  width: 100%;
  gap: 1rem;
}

#grid-controls button {
  background-color: #8a3b24;
  font-size: large;
  color: rgb(231, 213, 179);
  border-radius: 1px;
  box-shadow: 3px 3px #ca7054;
  margin-inline: 0.5rem;
  padding-top: 4px;
  font-weight: bold;
  padding-inline: 2rem;
}

.grid {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  border-radius: 1rem;
  width: 100%;
}

.grid::-webkit-scrollbar-track {
  border-radius: 10px;
}

.grid::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
  background-color: #412c20;
}

.grid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #75523f;
}

#card-list {
  padding: 1rem;
  justify-content: center;
  position: relative;
  height: fit-content;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  border-top-left-radius: 25px;
  width: 90%;
}

/* Card */

.card {
  position: relative;
  background-image: url("img/card.png");
  background-position: center center;
  background-size: cover;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
}

.dead {
  position: relative;
  opacity: 0.8;
}

.dead::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 4;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(61, 4, 4, 0.479);
  opacity: 1;
  mask-image: url("img/card.png");
  mask-size: cover;
}

/* .dead {
  opacity: 0.5;
  filter: brightness(0.5);
} */

.card .header {
  position: relative;
  height: 50px;
  width: 160px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: rotate(3deg);
}

.card .header .level {
  color: rgb(231, 213, 179);
  height: 20px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 2px;
  padding: 2px;
  display: flex;
  background-color: #2c1609;
}

.header p {
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  color: #2c1609;
  max-width: 70%;
  text-overflow: ellipsis;
}

.middle {
  position: relative;
  z-index: 1;
  display: flex;
  height: 110px;
  width: -webkit-fill-available;
  justify-content: center;
}

.ac {
  position: absolute;
  right: 60px;
  bottom: 25px;
  display: flex;
  justify-content: center;
}

.ac-display {
  color: rgb(231, 213, 179);
  font-size: larger;
  max-width: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.index {
  position: absolute;
  width: 29px;
  left: 3px;
  text-align: center;
  bottom: 30px;
  color: rgb(231, 213, 179);
  font-size: larger;
  z-index: 2;
}

.life {
  display: flex;
  position: relative;
  justify-content: center;
  width: 12rem;
  font-size: xx-large;
}

.life input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn-full-life {
  position: absolute;
  background-color: #75523f;
  -webkit-mask-image: url("img/magic-wand.svg");
  mask-image: url("img/magic-wand.svg");
  background-size: cover;
  bottom: 5px;
  left: 55px;
  width: 28px;
  aspect-ratio: 1;
}

.dead .btn-full-life {
  bottom: 70px;
  left: 55px;
}

.life-controls-container {
  position: absolute;
  left: 8px;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  display: flex;
  width: 40px;
  bottom: 3px;
}

.cure {
  background-image: url("img/plus.png");
  background-size: cover;
  width: 28px;
  aspect-ratio: 1;
}

.damage {
  background-image: url("img/minus.png");
  background-size: cover;
  width: 28px;
  aspect-ratio: 1;
}

.life-controls {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  background: none;
  border: none;
  color: rgb(241, 218, 214);
  left: 0;
  background-color: #75523f;
  font-size: x-large;
  font-weight: bold;
  width: 40px;
}

.life-controls::selection {
  background-color: rgb(241, 218, 214);
  color: #75523f;
}

.life-display {
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  background-color: transparent;
  background-image: url("img/heart.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 70px;
  background-size: 90px;
  aspect-ratio: 1;
  text-align: center;
  color: rgb(241, 218, 214);
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 40px;
  transition: all 0.1s ease-in-out;
  transform: rotate(0deg);
}

.dead .life-display {
  transform: rotate(-12deg);
  background-image: url("img/broke-heart.png");
  background-size: 80px;
}

.full .life-display {
  transform: rotate(0);
  background-image: url("img/full-heart.png");
}

.life-display::selection {
  background-color: #a9c1cf;
  color: rgb(116, 46, 34);
}

.life-display:focus {
  outline: none !important;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  transform: rotate(-3deg);
}

.info-container p {
  font-size: small;
  font-weight: bold;
  color: #75523f;
}

.info {
  resize: none;
  background-color: rgba(255, 0, 0, 0);
  width: 165px;
  height: 50px;
  font-size: x-small;
  font-family: "Marhey", sans-serif;
  color: #75523f;
  padding: 0;
  padding: 5px;
  transform: rotate(1deg);
  cursor: default;
}

.info::placeholder {
  color: #b88263;
}

.info:focus {
  outline: none !important;
}

.info::-webkit-scrollbar {
  cursor: default;
  width: 5px;
}

.info::-webkit-scrollbar-thumb {
  background-color: #b88263;
}

.info::selection {
  background-color: #b88263;
  color: rgb(241, 218, 214);
}

/*
  --------------------------------------------------------------------------------------
  Modal
  --------------------------------------------------------------------------------------
*/

#modal {
  opacity: 0;
  position: fixed;
  inset: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: auto;
  font-weight: bold;
}

#modal.open {
  background-color: #0000008e;
  opacity: 1;
  z-index: 998;
}

.modal-content {
  z-index: 999;
  background-image: url("img/form.png");
  background-size: 600px 550px;
  text-align: center;
  width: 600px;
  height: 550px;
}

#credit {
  position: absolute;
  color: #75523f8f;
  bottom: 20px;
  font-size: 10px;
  right: 28px;
}

#credit a {
  color: #583725ee;
  text-decoration: none;
  transition: font-size ease-in-out 0.3s;
}

#credit a:hover {
  font-size: 11px;
}

#create-sheet {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 70px;
  gap: 0.5rem;
  padding: 20px;
  color: #2c1609;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

#create-sheet .header {
  display: flex;
  justify-content: center;
  font-size: larger;
  width: 250px;
  margin-right: 80px;
}

#create-sheet .header p {
  color: rgb(241, 218, 214);
}

#create-sheet .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#create-sheet .input input,
select,
textarea {
  resize: none;
  padding: 0.5rem;
  width: -webkit-fill-available;
  border: none;
  font-family: "Marhey", sans-serif;
  border-radius: 5px;
  background-color: #75523f8f;
  color: rgb(241, 218, 214);
}

#create-sheet input::placeholder {
  color: rgb(241, 218, 214);
}

#create-sheet textarea {
  height: 100%;
}

#modal-button button {
  font-size: large;
  color: rgb(231, 213, 179);
  border-radius: 1px;
  margin-inline: 0.5rem;
  padding-top: 4px;
  font-weight: bold;

  padding-inline: 2rem;
}

.close-modal-btn {
  background-color: #8a3b24;
  box-shadow: 3px 3px #ca7054;
}

.create-sheet-btn {
  background-color: #33746b;
  box-shadow: 3px 3px #64c29e;
}

#create-sheet .number-attributes {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.number-attributes input {
  width: 90% !important;
}

#create-sheet .form-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.form-container .select-image {
  display: flex;
  width: auto;
  align-items: center;
  flex-direction: column;
}

#sheet-image {
  padding: 0.5rem;
  border-radius: 15px;
  margin: 0.5rem;
  width: 4rem;
  background-color: #2c1609;
  border: solid 4px #af8e78;
  border-radius: 10px;
  box-shadow: 3px 3px 0px #745743, inset 3px 3px 0px #745743;
  justify-content: center;
}

#create-sheet .input textarea::-webkit-scrollbar {
  cursor: default;
  width: 10px;
}

#create-sheet .input textarea::-webkit-scrollbar-thumb {
  background-color: #2c160979;
  border-radius: 4px;
}
#create-sheet .input textarea::selection {
  background-color: #2c160977;
  color: rgb(241, 218, 214);
}

/*
  --------------------------------------------------------------------------------------
  Others
  --------------------------------------------------------------------------------------
*/

.full-background {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
}

.scale-on-hover {
  transition: transform ease-in-out 0.2s, filter ease-in-out 0.2s;
}

.scale-on-hover:hover {
  transform: scale(1.1);
}

.scale-on-hover:active {
  transform: scale(1);
  filter: brightness(0.8) saturate(1.3);
}

.block {
  pointer-events: none;
}

.close-btn {
  z-index: 4;
  position: absolute;
  background-image: url("img/exit.png");
  width: 35px;
  background-size: cover;
  right: 10px;
  top: 15px;
  aspect-ratio: 1;
  font-size: x-small;
}

.loading {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  inset: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: #2c160996;
  border-radius: 10px;
}

/*
  --------------------------------------------------------------------------------------
  Animation
  --------------------------------------------------------------------------------------
*/

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
